{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "browser": true,
    },
    "plugins": [
        "prettier",
        "import",
        "react"
    ],
    "rules": {
        "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow"}],
        "react/jsx-filename-extension": "off",
        "no-underscore-dangle": "off",
        "comma-dangle": "off",
        "object-curly-spacing": "off",
        "no-unused-expressions": ["error", {"allowTaggedTemplates": true}]
    }
}
