{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "plugins": ["import", "react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }]
  }
}
